.modal {
    background-color: var(--white);
    width: 50%;
    margin: auto;
    border-radius: 1rem;
}

form {
    padding: 2rem;
}

form > label {
    margin-bottom: 1rem;
}

form input {
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--neutral-grey500)
}

form .from-the-side {
    display: flex;
    gap: 1rem;
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

form span {
    display: block;
}

.btn-submit {
    display: block;
    background-color: var(--primary-green600);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: hsl(169, 81%, 33%);
    transition: 400ms;
}