<form>
    <h1>Contact Us</h1>

    <label> First Name *
        <input type="text">
    </label>
    <!--This field is required-->

    <label> Last Name *
        <input type="text">
    </label>

    <label> Email Address *
        <input type="text">
    </label>

    <!--Please enter a valid email address-->

    <fieldset> Query Type *
        <label> General Enquiry
            <input type="radio" name="query">
        </label>
        <label> Support Request
            <input type="radio" name="query">
        </label>
    </fieldset>
    
    <!--Please select a query type-->

    <label> Message *
        <textarea></textarea>
    </label> 

    <label>
        <input type="checkbox"> I consent to being contacted by the team
    </label>
    <!--To submit this form, please consent to being contacted-->

    <button>Submit</button>

    <!--Message Sent!
    Thanks for completing the form. We'll be in touch soon!-->
</form>