form {
    padding: 2rem;
}

form > label {
    margin-bottom: 1rem;
}

form input {
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--neutral-grey500)
}

form .from-the-side {
    display: flex;
    gap: 1rem;
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}


form span {
    display: block;
}